 /* Define font family */
 @font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('fonts/DroidArabicKufi-Regular.woff2') format('woff2'),
    url('fonts/DroidArabicKufi-Regular.woff') format('woff'),
    url('fonts/DroidArabicKufi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Fonts */
:root {
  --font-default:  font-family: 'Droid Arabic Kufi', sans-serif;
}

/* Colors */
:root {
  --color-default: #222222;
  --color-primary: #008374;
  --color-secondary: #f85a40;
  
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a {
  color: #232323;
  text-decoration: none;
}

a:hover {
  color: #00b6a1;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.sections-bg {
  background-color: #f6f6f6;
}



/*--------------------------------------------------------------
# Scroll top button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 80px;
  bottom: -300px;
  z-index: 99999;
  background: var(--color-secondary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.scroll-top:hover {
  background: rgba(248, 90, 64, 0.8);
  color: #fff;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.bg-dark {
  background-color: black;

}



.icon-large {
  font-size: 1.4rem;
}

.font-size {
  font-size: 1.3rem;

}

.nav-link {

  position: relative;
}

.nav-link::after {

  opacity: 0;
  transition: all 0.3s;
  content: '';
  height: 0.000000000005cm;
  width: 100%;
  
  position: absolute;
  bottom: -47%;
  left: 0;

}

.nav-link:hover::after {

  opacity: 1;
}


/* Define the dark mode styles */
.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}
.dark-mode .navbar-light .navbar-brand {
  color: black;
}
.dark-mode .fa-circle-half-stroke {
  color: black;
}

.nav-link:hover .bi-cart-fill {
transform: scale(1.2);
}


#sidebar_item{
  display: flex;
  flex-direction: column;
color: black;

}

#sidebar_item:hover{
transform: scale(1.1);

}

#sidebar_droplist:hover{
  display: flex;
  flex-direction: column;
transform: scale(1.1);


}

section {
  scroll-margin-top: 70px;
}






/*--------------------------------------------------------------
# Stats Counter Section
--------------------------------------------------------------*/
.stats-counter {
  padding: 40px 0;
}

.stats-counter .stats-item {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
}

.stats-counter .stats-item .purecounter {
  min-width: 90px;
  padding-right: 15px;
}

.stats-counter .stats-item i {
  font-size: 44px;
  line-height: 0;
  margin-right: 15px;
}

.stats-counter .stats-item span {
  font-size: 40px;
  display: block;
  font-weight: 700;
  color: var(--color-primary);
  line-height: 40px;
}

.stats-counter .stats-item p {
  margin: 0;
  font-family: var(--font-primary);
  font-size: 14px;
}



/*--------------------------------------------------------------
# Our Services Section
--------------------------------------------------------------*/
.services {
  padding: 60px 0;
}

.card-effect {
  box-shadow: 0 8px 22px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

#services .iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #504A8E;
  color: #ffffff;
  font-size: 32px;
  border-radius: 100px;
  flex: none;
}



#services .service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#services .service::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color:  #504A8E;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;

}


#services .service:hover .iconbox {
  background-color:#ffffff;
  color:  #504A8E;
}

#services .service:hover h5,
.service:hover p {
  color: #ffffff;
}

#services .service:hover::after {
  opacity: 1;
  top: 0;
}
 /*--------------------------------------------------------------
# Mosharka Section
--------------------------------------------------------------*/
#mosharka .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #D4562A;
  font-size: 100px;
 
  flex: none;
}



/*--------------------------------------------------------------
# news and event
--------------------------------------------------------------*/
#secEVENT .nav-tabs {
  text-align: center;
  margin: auto;
  display: block;
  border-bottom: 0;
  margin-bottom: 30px;
}

#secEVENT .nav-tabs li {
  display: inline-block;
  margin-bottom: 0;
}

#secEVENT .nav-tabs a {
  border: none;
  border-radius: 50px;
  font-weight: 600;
  background-color: #D4562A;
  color: #fff;
  padding: 10px 100px;
}

@media (max-width: 991px) {
  #secEVENT .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 767px) {
  #secEVENT.nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 480px) {
  #secEVENT.nav-tabs a {
    padding: 8px 30px;
  }
}

#secEVENT.nav-tabs a.active {
  background-color: #f82249;
  color: #fff;
}
#nnvvv {
  border-color: black !important;

}

#nnnn {
  border-color: black black white !important;
}
#nnnn:hover {
  border-color: black !important;
  color: #3b5b4d !important;}

#nnlll {
  
  font-weight: 700;
}

#nnlll:hover {
  border-color: black !important;
  color: #3b5b4d !important;}

  
  
 

